* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  } 

img{
    max-width: 100%;
}

body{
  margin:0;
  background-color: #FFFCF2;
  color: #252422;
  height: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header{
  background-color: #82C4B2;
  display:flex;
  justify-content: space-between;
  padding:30px calc(50vw - 630px);
}

.rightheader{
  display:flex;
  align-items: center;
  gap:30px;
}

header a, footer a{
  color:#252422;
  font-weight: bold;
  text-decoration: none;
  transition: .1s ease;
}

header a:hover, footer a:hover{
  color: #FFFCF2;
}

#workbox {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin:auto;
  width:1300px;

  transition: .25s ease;
}

.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 7px;
}

.column img{
  margin-top: 8px;
  vertical-align: middle;
  width: 70vw;
}

.image{
  display: block;
  width: 100%;
  height: auto;
  transition: .25s ease;
  margin: auto;
}

.workcontainer:hover .image{
  opacity:.4;
}

.workcontainer:hover  .text{
  opacity:1;
}

.workcontainer{
  background-color: #39403F;
  position:relative;
}

.text{
  color:#FFFCF2;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:2;
  opacity:0;
  transition: .25s ease;

  text-align: center;
  font-size: 240%;
}

.workcontainer a{
  color:#FFFCF2;
  text-decoration: none;
}

footer{
  margin-top: 50px;
  background-color: #82C4B2;
  height:100px;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;

}



@media screen and (max-width: 1450px) {
  #workbox{
    width:1000px
  }
  
  header{
    padding:30px calc(50vw - 490px);
  }
}

@media screen and (max-width: 1000px) {
  .column{
    flex:100%;
    width: 100%;
    max-width: 100%;
  }

  #workbox{
    width:80vw;
  }

  .image{
    opacity:.5;
  }
  .text{
    opacity: 1;
  }

  header{
    padding:30px 12vw;
  }
}

/* this section is for work pages workpage */

.splashbackground{
  width:100vw;
  height:calc(99vh - 100px);
  background:orange;
  margin:0;
  object-fit: cover;
}

.splashpic{
  object-fit: cover;
  width:100%;
  height:100%;
}

.workdisplay{
  width:70%;
  margin: auto;
  /* background:lightgray; */
}

.worktitle{
  text-align: center;
  font-size: 200%;
}

.imagebox{
  display:flex;
  flex-wrap: wrap;
  gap:10px;
  justify-content: center;
}

.imagebox img{
  flex:48%;
  max-width: 48%;
}

@media screen and (max-width: 1200px) {
.imagebox img{
  flex:100%;
  max-width:100%;
}
}


/* this section is for the about page */

#info{
  display:flex;
  width: 60%;
  margin:auto;
  gap:20px;
  height: calc(70vh - 100px);
  align-items: center;
}

.abouttext{
  flex:50%;
  max-width: 70%;
  width: 70%;
}

.headshot{
  /* display: flex;
  justify-content: center; */
  flex:30%;
  max-width: 30%;
  background-color: green;
}

.headshot img{

}